<h2>Criação de Task</h2>
<form action="/tasks/add" method="post">
<div class="form-control">
    <label for="title">Título</label>
    <input type="text" name="title" id="title" placeholder="O que você vai fazer?">
</div>
<div class="form-control">
    <label for="description">Descrição</label>
    <input type="text" name="description" id="description" placeholder="Descreva a tarefa">
</div>
<input type="submit" value="Criar">
</form>